APP_NAME="Apinto Government Hospital - Validation System"
APP_URL="http://localhost:8000"
APP_ENV=development
APP_DEBUG=true
RATE_LIMIT_MAX=600
RATE_LIMIT_WINDOW=600
CORS_ALLOWED_ORIGINS="http://localhost:3000"
API_KEY=devKey123
API_SECRET=

DB_HOST=127.0.0.1
DB_NAME=agh_validations
DB_USER=root
DB_PASS=tem22ple12345?
DB_DRIVER=mysql

# Email Service configuration  
MAIL_HOST=smtp.gmail.com
MAIL_USER=senzdigitals.inc23@gmail.com
MAIL_PASS="uplc yzyj zvaw qixj"
MAIL_FROM=senzdigitals.inc23@gmail.com
MAIL_NAME="Basic Schools Record Management System"
MAIL_PORT=465
MAIL_ENCRYPTION=ssl

#SMS Service Configuration
SMS_ID=
TOKEN=
SMS_FROM=

JWT_SECRET=7b7fcb08ec72af2c18bcbc834eecfa2aca01036fc0b8b040b68c7f8a64236da5

# MoMo Sandbox Keys MTN
MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com/collection/v1_0
MOMO_PRIMARY_KEY=your_api_key
MOMO_USER_ID=your_generated_user_id
MOMO_CALLBACK_URL=http://127.0.0.1/webhook/momo
MOMO_CURRENCY=GHS

# HUBTEL (Vodafone & AirtelTigo)
HUBTEL_BASE_URL=https://payproxyapi.hubtel.com
HUBTEL_CLIENT_ID=your_hubtel_client_id
HUBTEL_CLIENT_SECRET=your_hubtel_secret
HUBTEL_CALLBACK_URL=https://yourdomain.com/webhook/hubtel

# PAYSTACK (Optional Ghana MoMo support)
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=your_paystack_key
PAYSTACK_CALLBACK_URL=https://yourdomain.com/webhook/paystack