/vendor/
/.env
/docker-compose.yaml
# Logs
/storage/logs/*.log
/storage/logs/*.log.*
*.log
*.txt

# Debug files
/tools/debug/*.php

# Temporary files
*.bak
*.tmp

# Production env (contains secrets)
.env.production
